<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-crise-heading" data-cy="CriseCreateUpdateHeading" jhiTranslate="assistaCriseApp.crise.home.createOrEditLabel">
        Créer ou éditer un Crise
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let titreRef = editForm.get('titre')!;
        <div class="mb-3">
          <label class="form-label" for="field_titre" jhiTranslate="assistaCriseApp.crise.titre">Titre</label>
          <input type="text" class="form-control" name="titre" id="field_titre" data-cy="titre" formControlName="titre" />
          @if (titreRef.invalid && (titreRef.dirty || titreRef.touched)) {
            <div>
              @if (editForm.get('titre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('titre')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '200' }"
                  >Ce champ doit faire au maximum 200 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let descriptionRef = editForm.get('description')!;
        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="assistaCriseApp.crise.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          @if (descriptionRef.invalid && (descriptionRef.dirty || descriptionRef.touched)) {
            <div>
              @if (editForm.get('description')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '2000' }"
                  >Ce champ doit faire au maximum 2000 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let typeRef = editForm.get('type')!;
        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="assistaCriseApp.crise.type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'assistaCriseApp.TypeCrise.null' | translate }}</option>
            @for (typeCrise of typeCriseValues; track $index) {
              <option [value]="typeCrise">{{ 'assistaCriseApp.TypeCrise.' + typeCrise | translate }}</option>
            }
          </select>
          @if (typeRef.invalid && (typeRef.dirty || typeRef.touched)) {
            <div>
              @if (editForm.get('type')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let statutRef = editForm.get('statut')!;
        <div class="mb-3">
          <label class="form-label" for="field_statut" jhiTranslate="assistaCriseApp.crise.statut">Statut</label>
          <select class="form-control" name="statut" formControlName="statut" id="field_statut" data-cy="statut">
            <option [ngValue]="null">{{ 'assistaCriseApp.StatutCrise.null' | translate }}</option>
            @for (statutCrise of statutCriseValues; track $index) {
              <option [value]="statutCrise">{{ 'assistaCriseApp.StatutCrise.' + statutCrise | translate }}</option>
            }
          </select>
          @if (statutRef.invalid && (statutRef.dirty || statutRef.touched)) {
            <div>
              @if (editForm.get('statut')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let dateDebutRef = editForm.get('dateDebut')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateDebut" jhiTranslate="assistaCriseApp.crise.dateDebut">Date Debut</label>
          <div class="d-flex">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="datetime-local"
              class="form-control"
              name="dateDebut"
              formControlName="dateDebut"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateDebutRef.invalid && (dateDebutRef.dirty || dateDebutRef.touched)) {
            <div>
              @if (editForm.get('dateDebut')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateDebut')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateFermeture" jhiTranslate="assistaCriseApp.crise.dateFermeture">Date Fermeture</label>
          <div class="d-flex">
            <input
              id="field_dateFermeture"
              data-cy="dateFermeture"
              type="datetime-local"
              class="form-control"
              name="dateFermeture"
              formControlName="dateFermeture"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let latitudeRef = editForm.get('latitude')!;
        <div class="mb-3">
          <label class="form-label" for="field_latitude" jhiTranslate="assistaCriseApp.crise.latitude">Latitude</label>
          <input type="number" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
          @if (latitudeRef.invalid && (latitudeRef.dirty || latitudeRef.touched)) {
            <div>
              @if (editForm.get('latitude')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('latitude')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '-90' }"
                  >Ce champ doit être supérieur à -90.</small
                >
              }
              @if (editForm.get('latitude')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '90' }"
                  >Ce champ doit être inférieur à 90.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('latitude')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let longitudeRef = editForm.get('longitude')!;
        <div class="mb-3">
          <label class="form-label" for="field_longitude" jhiTranslate="assistaCriseApp.crise.longitude">Longitude</label>
          <input type="number" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
          @if (longitudeRef.invalid && (longitudeRef.dirty || longitudeRef.touched)) {
            <div>
              @if (editForm.get('longitude')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('longitude')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '-180' }"
                  >Ce champ doit être supérieur à -180.</small
                >
              }
              @if (editForm.get('longitude')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '180' }"
                  >Ce champ doit être inférieur à 180.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('longitude')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let rayonKmRef = editForm.get('rayonKm')!;
        <div class="mb-3">
          <label class="form-label" for="field_rayonKm" jhiTranslate="assistaCriseApp.crise.rayonKm">Rayon Km</label>
          <input type="number" class="form-control" name="rayonKm" id="field_rayonKm" data-cy="rayonKm" formControlName="rayonKm" />
          @if (rayonKmRef.invalid && (rayonKmRef.dirty || rayonKmRef.touched)) {
            <div>
              @if (editForm.get('rayonKm')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Ce champ doit être supérieur à 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('rayonKm')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_declarant" jhiTranslate="assistaCriseApp.crise.declarant">Declarant</label>
          <select
            class="form-control"
            id="field_declarant"
            data-cy="declarant"
            name="declarant"
            formControlName="declarant"
            [compareWith]="compareUtilisateur"
          >
            @if (!editForm.get('declarant')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (utilisateurOption of utilisateursSharedCollection(); track $index) {
              <option [ngValue]="utilisateurOption">{{ utilisateurOption.login }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['declarant'])!.invalid && (editForm.get(['declarant'])!.dirty || editForm.get(['declarant'])!.touched)) {
          <div>
            @if (editForm.get(['declarant'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
